section {
  width: 100%;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.galeria {
  height: 100%;
}
.carousel-control {
    display: inline-block;
    position: absolute;
    top: 40%;
    bottom: 40%;
    background-size: contain;
}
.carousel-control:focus {
  opacity: 0.5;
}
.carousel-control:hover {
  opacity: 0.8;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}