@import 'core/mixins.styl';
@import 'core/variables.styl';
@import 'core/fonts.styl';
@import 'core/mediaquery.styl';
@import 'layout/main.styl';
@import 'layout/navbar.styl';
@import 'layout/home.styl';
@import 'layout/sinopsis.styl';
@import 'layout/trailer.styl';
@import 'layout/estreno.styl';
@import 'layout/tecnica.styl';
@import 'layout/modal.styl';
@import 'layout/mantenimiento.styl';
@import 'layout/footer.styl';
