@media (min-width 768px) and (max-width 991px)

  nav

    .container
      margin 0
      padding 0
      width 100%

    .navbar-header
      float none

    .navbar-left
    .navbar-right
      float none !important

    .navbar-collapse
      border-top 1px solid transparent

      &.collapse
        display none !important

      &.in
        display block !important

    .navbar-toggle
      display block

    .navbar-fixed-top
      top 0
      border-width 0 0 1px

    .navbar-nav
      float none !important
      margin-top 7.5px

      > li
        float none

        > a
          padding-top 10px
          padding-bottom 10px
