@font-face
  font-family $fontDE
  src url('../fonts/DIRTYEGO.TTF') format('truetype')
  font-weight 400
  font-style normal
  font-stretch normal

@font-face
  font-family $fontTG
  src url('../fonts/TradeGothic-BoldCondensed.woff') format('woff')
  font-weight 700
  font-style normal
  font-stretch normal
