@font-face
  font-family $fontDE
  src url('../fonts/DIRTYEGO.TTF') format('truetype')
  font-weight 400
  font-style normal
  font-stretch normal

@font-face
  font-family $fontTG
  src url('../fonts/TradeGothic-BoldCondensed.woff') format('woff')
  font-weight 700
  font-style normal
  font-stretch normal

@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?j5nzaq')
  src url('../fonts/icomoon.eot?j5nzaq#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?j5nzaq') format('truetype'), url('../fonts/icomoon.woff?j5nzaq') format('woff'), url('../fonts/icomoon.svg?j5nzaq#icomoon') format('svg')
  font-weight normal
  font-style normal