#estreno
  min-height 30vh
  background-color $blue

  .section-main
    padding 15px
    text-align center

    h1
      font-family $fontDE
      font-size 7em
      text-transform uppercase
      color $white
      letter-spacing 5px
