#expediente
  background-image url('../images/parallax/parallax - miras.jpg')

  .section-main
    background-color $black
    width 100%
    padding 150px 0
    display inline-block
    margin-bottom 50vh

    .col-md-8
      text-align center
      
      img
        display inline-block