footer
    width 100%
    opacity 1
    position relative
    left 0px
    height 76px
    box-sizing border-box
    background-color transparent
    border none

    &:after
        content ""
        position absolute
        z-index 1000
        background-linear-gradient3d(to top, rgba(0, 0, 0, 0.6), 0%, rgba(0, 0, 0, 0.2), 80%, rgba(0, 0, 0, 0), 100%)
        width 100%
        height 100%
        top 0
        left 0

    .container
        vertical-align bottom

        ul
            margin 35px 0 0
            position relative
            width 100%
            height 100%
            padding 0 11.5%
            text-align center
            z-index 1100
            
            li
                display inline-table
                padding 0
                width 11%
                text-align center
            
                img
                    width 70%

    .pull-left
        padding-left 15px
        margin-top 30px
        
        a
            font-size 2em
            padding 5px
            color $white