footer
    width 100%
    height 81px
    opacity 1
    position relative
    left 0px
    background-color $blue
    padding-top 44px
    box-sizing border-box

    .container

        ul
            position relative
            width 100%
            padding 0
            
            li
                display inline-table
                width 14%
                padding 0
            
                img
                    width 100%

    span
        display block
        position absolute
        bottom 36px
        left 50%
        margin-left -142px
        background-repeat no-repeat
        width 147px
        height 15px

        a
            display block
            position absolute
            bottom 36px
            left 50%
            margin-left 10px