#home
  background-image url('../images/home.jpg')
  background-color $black
  background-repeat no-repeat
  background-size cover
  background-position center
  height 130vh
  z-index 100
  
  &.animateName
    
    &:after
      opacity 1

  &:after
    background-image url('../images/home nombres.png')
    background-repeat no-repeat
    background-size cover
    background-position center
    z-index 110
    opacity 0
    transition all 1s

  .title
    position fixed
    top 50%
    left 50%
    width 768px
    margin-left -384px
    z-index 500
    text-align center

    .box-homeLogo
      display inline-block

    span
      font-family $fontDE
      font-size 2.5em
      color $white
      letter-spacing 4px
      text-transform uppercase
