#home
  background-image url('http://lorempixel.com/g/1900/800/nightlife/5')
  background-repeat no-repeat
  background-size cover
  height 100vh

  .title
    position fixed
    top 50%
    left 50%
    width 774px
    margin-left -387px
    z-index 500
    text-align center

    img
      margin 0 auto
