#home
  background-image url('../images/home1.jpg')
  background-color $black
  background-repeat no-repeat
  background-size cover
  height 130vh

  .title
    position fixed
    top 50%
    left 50%
    width 774px
    margin-left -387px
    z-index 500
    text-align center

    img
      margin 0 auto

    span
      font-family $fontDE
      font-size 2.5em
      color $white
      letter-spacing 4px
      text-transform uppercase
