.modal-generico
    top 0
    left 0
    position fixed
    background-color black
    width 100%
    height 100%
    z-index 1300
    display none

    img
        position absolute
        right 1%
        top 2%
        width 3%
        opacity 0.6

        &:hover
            opacity 0.8

    iframe
        position absolute
        top 5%
        left 5%
        right 5%
        bottom 5%
        width 90%
        height 90%        