#musica
  background-image url('../images/parallax/parallax - onetto.jpg')

  .section-main
    background-color $black
    width 100%
    padding 50px 0

    .musica
      text-align justify
      
      h3
        font-family $fontDE
        font-size 3em
        color $white
        text-align center
        text-transform uppercase
        margin-bottom 20px

      p
        color $white
        font-size 1.5em
        font-weight 700
        font-family $fontTG
        display inline-block

      a
        display block
        color $blue !important
        font-family $fontTG
        font-weight 700
        font-size 1.3em
        margin 15px 0 30px
        text-decoration none
        transition all 0.3s

        &:hover
        &:focus
        &:active
          color $light-blue !important

        &:before
          content '('

        &:after
          content ')'
