nav

  &.navbar-default
    background-color transparent
    border none

  #logo
    position absolute
    left 50%
    padding 0
    margin-left -52px

  .navbar-collapse
    text-align center

    ul
      display inline-block
      float none
      width 100%
