body
    overflow hidden

#preloader 
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-color $black
    z-index 4000

    .preloadertop
        background-color $black
        position absolute

    .preloaderbottom
        position absolute
        background-color $black

    .loader
        height 10px
        background-color $white
        position absolute