#sinopsis
  background-image url('../images/parallax/parallax - lambertini.jpg')

  .section-main
    background-color black
    width 100%
    padding 50px 0

    .sinopsis
      text-align center
      margin-bottom 50px

      h3
        font-family $fontDE
        font-size 3em
        color $white
        text-transform uppercase
        margin-bottom 20px

      span
        color $white
        font-size 1.5em
        font-weight 700
        font-family $fontTG

      a
        color $blue !important
        font-family $fontTG
        font-weight 700
        font-size 1.3em
        text-decoration none
        transition all 0.3s

        &:hover
        &:focus
        &:active
          color $light-blue !important

        &:before
          content '('

        &:after
          content ')'

    .cast
      min-height 424px
      display inline-block

      .box-pj
        margin-bottom 15px

        .box-foto
          padding 0 20px
          text-align center
          display block

          a
            display inline-block

            img
              transition filter 0.3s
              filter brightness(100%)

            &:hover
            &:active

              img
                filter brightness(135%)

        .box-leyenda
          text-align center
          display block
          min-height 50px

          span
            line-height 1
            font-family $fontDE
            text-transform uppercase
            color $white
            font-size 24px
