#tecnica
  height 100vh
  background-image url('../images/parallax/parallax - barrientos.jpg')
  background-repeat no-repeat
  background-size cover !important
  background-position top
  background-attachment fixed !important
