#tecnica
  height 100vh
  background-image url('http://lorempixel.com/g/1900/800/nightlife/8')
  background-repeat no-repeat
  background-size cover !important
  background-position top
  background-attachment fixed !important
