#trailer
  background-image url('../images/parallax/parallax - barrientos.jpg')

  .section-main
    background-color $black
    width 100%
    padding 50px 0 100px
    display inline-block

    .estreno
      text-align center
      margin-bottom 50px

      h3
        font-family $fontDE
        font-size 6em
        color $white
        letter-spacing 5px
        text-transform uppercase
        margin-bottom 20px

    .col-afiche
      text-align center
      padding 0
      z-index 500
      perspective 150px

      .box-afiche
        width 100%
        height 100%
        overflow hidden
        transform rotateY(3deg)

        img
          width 100%
          transition all .3s
          cursor pointer

          &:hover
          &:focus
          &:active
            transform scale(1.1)

    .col-trailer
      text-align center
      padding 0
      z-index 500
      perspective 150px

      .box-trailer
        display inline-block
        width 100%
        height 100%
        overflow hidden
        margin-bottom -5px
        transform rotateY(-1.5deg)

        video
          width 100%
          height 100%
          transition all .3s
          cursor pointer

          &:hover
          &:focus
          &:active
            transform scale(1.1)
