#trailer
  height auto
  overflow hidden
  background-color $gray40

  .col-afiche
    text-align center
    padding 0

    .box-afiche
      width 100%
      height 100%
      overflow hidden

      img
        height 100%
        width 100%
        transition all .3s
        cursor pointer

        &:hover
        &:focus
          transform scale(1.1)

  .col-trailer
    text-align center
    padding 0

    .box-trailer
      display inline-block
      width 100%
      height 100%
      overflow hidden
      margin-bottom -5px

      video
        width 100%
        height 100%
        transition all .3s
        cursor pointer

        &:hover
        &:focus
          transform scale(1.1)
